#cindy {
  width: 200px;
}

.image {
  width: 300px;
}

.text-and-image {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.section > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
