#cindy {
  width: 200px;
  margin-top: 30px;
}

#equation {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#ramsey-solutions {
  width: 200px;
}

#financial-coach-academy {
  width: 100px;
}

.equation-text {
  white-space: preserve;
}

.image {
  width: 300px;
}

.about_text-and-image {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.section > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #equation {
    flex-direction: row;
  }
}